// Your Sass goes here...
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: rgb(228, 229, 229);
}

#weather-component {
    min-height: 300px;
    border-top: 5px solid rgb(0, 174, 187);
    background: white;
    width: 350px;
    padding: 20px 40px;
    border-radius: 5px;

    input {
        width: 100%;
        padding: 5px 10px;
    }

    div {
        margin-top: 10px;
        display: flex;
        widows: 100%;
        justify-content: flex-end;
    }
}

.btn {
    border-radius: 15px;
    background-color: #222255;
    color: white;
    padding: 7px 10px;
    cursor: pointer;
    border: none;
}