<template>
    <div class="container">
        <div id="weather-component">
            <h2>Weather</h2>
            <hr class="divider" />
            <p>City</p>
            <input v-model="city" id="city" type="text" />
            <div>
                <button v-on:click="getWeatherByCity" class="btn">Get Weather</button>
            </div>
            <p><b>Temp: </b><span v-if="temp">{{ temp }}°F</span></p>
            <p><b>Humidity: </b><span v-if="humidity">{{ humidity }}%</span></p>
        </div>
    </div>
</template>

<script src="./weather_component.js"></script>